<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681812346981-9f6tne11fenqr0e6tpdb494nehfeqhin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681812346981-9f6tne11fenqr0e6tpdb494nehfeqhin</string>
	<key>API_KEY</key>
	<string>AIzaSyBlwR7j8FDRi06rpWxDOQ6Vn4YkYu0yZG8</string>
	<key>GCM_SENDER_ID</key>
	<string>681812346981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ANMOLMALLICK.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7869</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681812346981:ios:0f21a9d102752f5b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-7869.firebaseio.com</string>
</dict>
</plist>